@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

h1,h2,h3,h4,h5,h6,p,span {
    @apply text-[#333333];
}

*::-webkit-scrollbar {
    appearance: none;
    width: 15px;
    padding:5px;
    border-radius: 999px;
    background-color: #F6F4F8;
}

*::-webkit-scrollbar-thumb {
    border-radius: 999px;
    background-color: rgba(0,0,0, .3);
    border:3px solid #F6F4F8;

}

.scroll-hidden::-webkit-scrollbar {
    @apply hidden md:block
}

@tailwind base;
@tailwind components;
@tailwind utilities;